# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# Build and deployment directories
dist/
build/

# Temporary files
tmp/
*.tmp
